Beaker==1.6.5.post1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==2.7.0
SQLAlchemy==0.9.8
argparse==1.2.1
-e git://github.com/bbangert/beaker_extensions.git@0ff334bc5e972525ef5b5ee26001284e7e6cdf3c#egg=beaker_extensions-master
beautifulsoup4==4.3.2
bottle==0.12.8
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.5
gunicorn==0.16.1
opengraph==0.5
psycopg2==2.6
redis==2.10.3
wsgiref==0.1.2
